$bg: #071424;
$accent: #35ffc6;

.home-container {
  width: 100vw;
  height: 100vh;
  background: $bg;
  display: flex;
  flex-direction: column;

  span {
    color: $accent;
  }
}

.overview-container {
  padding-left: 10vw;
  display: flex;
  flex-direction: column;
}
.overview {
  width: 80vw;
  background: #fff;
  color: #333;
  margin-left: 10vw;
  padding: 3vh 3vw;
  border-radius: 20px;
}
.overview-section {
  background: #1e1e1e;
  color: #fff;
  padding: 3vh 3vw;
  margin: 3vh 0;

  h3 {
    padding: 3vh 0;
  }

  table {
    width: 100%;
    table-layout: fixed;
    th {
      text-align: left;
    }
    tr {
      height: 50px;
    }

    .positive {
      color: $accent;
    }
    .negative {
      color: #ff3539;
    }
    .neutral {
      color: #969696;
    }
  }
}
