.empty-section {
  display: flex;
  flex-direction: column;

  h2 {
    padding-left: 10px;
  }
  span {
    width: 200px;
    padding-left: 10px;

    a {
      text-decoration: none;
      color: #fff;
    }
    h4 {
      border: 1px solid #fff;
      padding: 10px 15px;
      text-align: center;
      transition: 0.4s ease;

      &:hover {
        border: 1px solid aqua;
      }
    }
  }
}

.overview-section {
  a {
    text-decoration: none;
    cursor: pointer;
    color: #35ffc6;
    transition: 0.4s ease;

    &:hover {
      color: #12c794;
    }
  }
}
