.investments_results {
  h4 {
    display: flex;
    align-items: center;
    color: #fff;

    .svg-container {
      padding-left: 5px;
      svg {
        color: #fff;
      }
    }
  }

  a {
    text-decoration: none;
    color: #58bfff;
  }
}

.disabled_input {
  cursor: not-allowed;
  background-color: gray;
}
.css-18dsvps-MuiChartsLegend-root {
  color: #fff !important;
}
// .css-18dsvps-MuiChartsLegend-root {
//   color: #fff;
// }

tspan {
  color: #fff;
  fill: #fff;
}
