$accent: #35ffc6;

.investment-page-container {
  background: #fff;
  width: 100vw;
  min-height: 100vh;
  padding-bottom: 5vh;
  color: #333;

  .investment-container {
    width: 90vw;
  }
  form {
    padding: 0 15px;

    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;

    h3 {
      color: #fff;
    }

    .checkbox {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .input-container {
      width: 18%;
      display: flex;
      flex-direction: column;
      margin: 0 1%;
      transition: 1s ease;
    }

    input {
      padding: 8px;
      border-radius: 8px;
      border: 1px solid #191919;
      margin: 10px 0;
      background: #fff;
      color: #333;

      &:focus-visible {
        outline: none;
        border: 1px solid $accent;
      }
    }
    #recurring {
      padding: 0;
      margin: 0;
    }
    select {
      padding: 8px;
      border-radius: 8px;
      margin: 10px 0;
      background: #fff;
      color: #333;

      &:focus-visible {
        outline: none;
        border: 1px solid $accent;
      }
    }
    button {
      margin-top: 15px;
      border: none;
      border-radius: 5px;
      transition: 1s ease;
      background: none;
      border: 1px solid #2fdcff;
      padding: 5px 2vw;
      color: #fff;

      &:hover {
        cursor: pointer;
        border-width: 0.5px;
        background: #358bff;
        color: #fff;
      }
    }
  }
}

.show-investment-container {
  background: #1e1e1e;
  color: #fff;
  padding-left: 15px;
  width: 100%;
  margin: 5vh 5vw;
  padding: 10vh 15px;

  .headers {
    padding: 10px 0;
    color: $accent;
    display: flex;

    h4 {
      margin: 0 1%;
      margin-left: 0;
      width: 23%;
    }
  }

  .results {
    display: flex;
    cursor: pointer;
    transition: 0.3s ease;

    &:hover {
      background: darken(#333, 10%);
    }

    h5 {
      width: 23%;
      margin: 10px 1% 10px 0;
    }
    .positive {
      color: #35ffc6;
    }
    .negative {
      color: #ff5d5d;
    }
    .neutral {
      color: #5d5d5d;
    }
  }
}

.expanded-results {
  background-color: darken(#333, 4%);
  width: 80%;
  height: 80vh;
  margin: 5px 10% 5px 10%;
  padding: 0 2%;
  cursor: default !important;
  display: flex;
  flex-direction: column;

  .title {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;

    span {
      h6 {
        margin-right: 10px;
        cursor: pointer;
      }
    }
  }

  .data {
    display: flex;
    width: 100%;

    h4 {
      width: 30%;
    }
  }
}
.header {
  display: flex;
  flex-wrap: wrap;
  color: #58bfff;
  h4 {
    width: 30%;
  }
}

.hidden {
  display: none;
}

.results-container .results {
  h4 {
    width: 30% !important;
  }
  .positive {
    color: #35ffc6;
  }
  .negative {
    color: #ff5d5d;
  }
}

.results-container .results-headers h4 {
  width: 30% !important;
}

@media screen and (max-width: 935px) {
  .show-investment-container {
    // padding: 5px;
    padding: 10vh;
    .headers {
      h4 {
        font-size: 12px;
      }
    }
  }

  .investment-section {
    width: 90vw;
  }

  .results-container {
    width: 90vw !important;
    margin: 5vh 3% !important;
  }
  .debts-container {
    padding-bottom: 5vh;
  }
}

@media screen and (max-width: 778px) {
  .results-container .results-headers h4 {
    font-size: 0.7rem;
  }
  .results {
    h4 {
      font-size: 0.8rem;
    }
  }
  .header {
    h4 {
      font-size: 0.9rem;
    }
  }
}
@media screen and (max-width: 550px) {
  .results-container .results-headers h4 {
    font-size: 0.5rem;
  }
  .results {
    h4 {
      font-size: 0.5rem;
    }
  }
  .header {
    h4 {
      font-size: 0.5rem;
    }
  }
}
