$accent: #35ffc6;
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background: #010101;

  .active {
    color: $accent;
  }

  h5 {
    margin: 0;
  }
}

#nav-title {
  margin-right: auto;
  font-size: 1.5em;
}

header li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
}

header a {
  text-decoration: none;
  color: #555;
  transition: all 0.3s ease 0s;
}

header a:hover {
  color: $accent;
}
.mobile {
  display: none;
}
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    justify-content: center;
    padding: 20px;

    ul {
      display: flex;
      flex-direction: column;

      li {
        margin: 5px 0;
      }
    }
  }

  .mobile {
    background-color: #010101;
    width: 100vw;
    padding: 0;
    display: flex;

    .mobile-icon {
      padding: 15px;
      cursor: pointer;
      transition: 0.4s ease;
      color: #58bfff;

      &:hover {
        color: #155efd;
      }
    }
  }

  .open {
    display: flex;
  }
  .closed {
    display: none;
  }
}
