$bg: #071424;
$accent: #35ffc6;

.transactions-home {
  width: 100vw;
  min-height: 100vh;
  background: $bg;
  display: flex;
  flex-direction: column;

  .transactions-container {
    width: 90vw;
    margin-left: 5vw;
  }

  .transaction-container {
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    align-items: center;
    justify-content: space-between;
    // margin-left: 5vw;
    margin: 10vh 0;
  }

  .transaction-section {
    display: flex;
    justify-content: center;
    // border: 1px solid red;
    width: 48%;
    min-height: 40vh;
    flex-direction: column;
    padding: 10px 50px;
    background: #fcfcfc;
    color: #fcfcfc;

    h3 {
      margin: 0;
    }
  }

  .investment {
    flex-grow: 2;
  }
}

.form {
  color: #333;
  padding: 5vh 5vw;

  form {
    display: flex;
    flex-direction: column;
    outline: none;
    // width: 70%;

    input {
      background: #e1e1e1;
      border: none;
      padding: 5px 10px;
      border-radius: 5px;
      color: #333;
      outline: none;

      &:focus-visible {
        border: 1px solid #2e4c8d;
      }
    }

    select {
      background: #e1e1e1;
      color: #333;
      border: none;
      padding: 5px 0 5px 5px;
      outline: none;

      &:focus-visible {
        border: 2px solid #2e4c8d;
      }
    }
    button {
      margin: 15px 0;
      padding: 10px 0;
      width: 250px;
      background: #2e4c8d;
      border: none;
      transition: 0.4s ease-in-out;

      &:hover {
        background: #21396c;
        cursor: pointer;
      }
    }
  }
}

.show-transactions-container {
  border: 1px solid #eee;
  background: #fff;
  padding: 3vh 1vw;
  width: 90vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 5vh 0;

  h4 {
    color: #333;
    align-self: flex-start;
  }

  justify-content: center;
  //   margin-top: 10vh;

  .show-transactions {
    padding-left: 20px;
    background: #101010;
  }

  table {
    width: 100%;
    table-layout: fixed;

    td {
      text-transform: capitalize;
    }

    a {
      display: flex;
    }
    th {
      text-align: left;
    }
    .over {
      color: #ff005f;
    }
    tr {
      height: 50px;

      &:hover {
        // background: red;
        cursor: pointer;
        background: #101010;
      }
    }
    tfoot {
      width: 100%;
    }
    .labels {
      &:hover {
        cursor: default;
        color: #fff;

        &:hover {
          background: transparent;
        }
      }
    }

    .positive {
      color: $accent;
    }
    .negative {
      color: #ff3539;
    }
    .neutral {
      color: #969696;
    }

    tr {
      td {
      }
      .Wants {
        color: #ff005f;
      }
      .Needs {
        color: #629eff;
      }
      .Debt {
        color: #ffca61;
      }
      .Investment {
        color: #35ffc6;
      }

      a {
        text-decoration: none;
        color: #fff;

        &:hover {
          // background: red;
          cursor: pointer;
        }
      }
    }
  }
}
